*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgb(232, 232, 241) 0%, rgb(3, 255, 242) 35%, rgb(240, 231, 112) 100%);	
	

}
.container{
	position: relative;
	max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
	
}
h1{
	
  margin-top: 5%;
  margin-left: 30%;
  background: -webkit-linear-gradient(rgb(224, 139, 139), rgb(14, 14, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.added :hover{

cursor: pointer;
}


.INPUT{
	width: 100%;
	
	padding: 10px 0;
}
.INPUT > input[type="text"]{
	width: 200px;
	color: #333;
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 5px;
	margin-left: 15%;
	outline: none;
}
.INPUT > button{
	
	background: #222;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	padding: 8px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	
}

ol{
	list-style: none;
	counter-reset: my-counter;
}
ol li{
	width: 60%;
	margin-top: 3px;
	padding: 10px;
	margin-left: 15%;
	background: -webkit-linear-gradient(rgba(255, 252, 252, 0.822), rgb(255, 241, 160));
	font-size: 18px;
	font-weight: 5px;
	counter-increment: my-counter;
	color: black;
}

ol li::before{
	content: counter(my-counter);
	background: #231381;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: #fff;
	margin-right: 0.5rem;
}
li button{
	position: static;
	float: right;
	padding: 5px;
	font-size: 18px;
	line-height: 18px;
	margin-right: 10px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	
}
li button > i{
	position: fixed;
}
 ol li button :hover{
	 
	 color: #ffffff;
	 cursor: pointer;
 }   
